<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Rijksmuseum</title>
  </head>
  <body>

  <header>
    <a href="/" title="Rijksmuseum" class="logo"></a>
  </header>
