<% include partials/head.ejs %>

<section>

<% for(var i = 0; i < paintings.artObjects.length; i++) {%>

<article>
  <h1><%= paintings.artObjects[i].principalOrFirstMaker %></h1>
  <p></p>
</article>

<% } %>

</section>

<% include partials/footer.ejs %>
