<% include partials/head.ejs %>

<section class="overview">

<% for(var i = 0; i < paintings.artObjects.length; i++) {%>

<article>
  <img src="<%= paintings.artObjects[i].webImage.url %>" alt="" />
  <h1><a href="/painting/<%= paintings.artObjects[i].objectNumber %>"><%= paintings.artObjects[i].principalOrFirstMaker %></a></h1>
  <p></p>
</article>

<% } %>

</section>

<% include partials/footer.ejs %>
